$darkest: #0b0c10;
$secondDarkest: #1f2833;
$grey: #c5c6c7;
$tealLight: #66fcf1;
$oceanGreen: #45a29e;
html {
  overflow-y: scroll;
}

.App {
  text-align: center;
  font-size: 62.5%;
  box-sizing: border-box;
  width: 100%;
}

/*Global */

// buttons
.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}
.btn-hover.color-3 {
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
//transition
.transition {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

/* Marketing Screen */

/*Upload Screen */
.jsonupload {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}
.backtoMarketing {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  padding: 7px;
  border-radius: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
  top: 10px;
  left: 10px;
  &:hover {
    background-color: rgb(236, 236, 236) !important;
  }
  p {
    padding-left: 14px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.1;
    color: #333333;
  }
}
.copyJSON {
  resize: none;
  background-color: $secondDarkest;
  color: $tealLight;
}

.fileUploader {
  width: 900px;
}

/* Keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
