@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500&display=swap");
$purple: #007bff;
.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  width: 93%;
  min-height: 100vh;
  text-align: center;
  font-family: "Archivo Narrow", sans-serif;
  padding-top: 110px;
}
.isLoadingHome {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wholeGrid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  min-height: 90vh;
  width: 100%;
}
.profilePicture {
  width: 50%;
  border-radius: 50px;
}
.togetherToggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.personContainer {
  padding: 18px;
  width: 200px;
  height: 350px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  margin: 40px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .personButtons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .infoButton {
    background-color: #fff;
    border: 1px solid $purple;
    color: $purple;
    padding: 7px;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: $purple;
    }
  }
  .inbox {
    background-color: #fff;
    border: 1px solid $purple;
    color: $purple;
    padding: 7px;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: $purple;
    }
  }
}
.person {
  h1 {
    color: rgba(0, 0, 0, 0.9);
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.6);
  }
}
.buttonsBottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.react-responsive-modal-overlay {
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  padding: 1.2rem;
}

.react-responsive-modal-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1650px;
  height: 540px;
  position: relative;
  padding: 1.2rem;
  background: #fff;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}
.customModal {
  width: 1650px;
}
.profilePictureMore {
  height: 180px;
  width: 180px;
  border-radius: 100px;
  margin: 0 auto;
}
.ptags {
  width: 100%;
  padding-top: 10px;
  p {
    margin: 0.7%;
  }
}
.moreAbout {
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
  color: #333333;
}
.moreMainName {
  text-align: center;
  margin: 5px auto;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.1;
  color: #333333;
  width: 100%;
  .location {
    font-weight: 400;
    line-height: 1;
    color: #999;
    margin-left: 10px;
    font-size: 1rem;
  }
}

.infoPTag {
  text-align: center;
  font-weight: 500;
  color: #333333;
  line-height: 1.1;
  font-size: 0.9rem;
  width: 100%;
  padding-bottom: 10px;
}
.loginInfoMore {
  color: $purple;
  &:hover {
    color: #550080;
    cursor: pointer;
  }
}
.moreAllPackageInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
}
.awardIcon {
  margin-right: 10px;
}
.packageInfoMore {
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.1;
  color: #999;
}
.packageNameMoreBold {
  font-weight: 500;
  color: #333333;
  line-height: 1.1;
  font-size: 0.9rem;
  margin-bottom: 20px;
  margin-right: 30px;
  .stargazersMore {
    margin-left: 30px;
  }
}
.packageLink {
  color: $purple;
  &:hover {
    color: #550080;
    cursor: pointer;
  }
}
.displayNone {
  display: none;
}
.followers {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #333333;
  line-height: 1.1;
  font-size: 0.9rem;
  width: 100%;
}
.boldMore {
  font-weight: 600;
  font-size: 1rem;
  margin-right: 5px;
}
.followerMargin {
  margin-right: 35px !important;
}
.usersIcon {
  color: $purple;
  margin-right: 7px;
}
