@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500&display=swap");
$purple: #007bff;
.wholeSingleView {
  width: 100%;
  min-height: 100vh;
}
.singleView {
  padding-top: 80px;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  width: 1000px;
  margin: 0 auto;
}
.profilePictureMoreSingle {
  height: 180px;
  width: 180px;
  border-radius: 100px;
  margin: 0 auto;
}
.ptagsSingle {
  width: 100%;
  padding-top: 10px;
  p {
    margin: 0.7%;
  }
}
.moreAboutSingle {
  padding-left: 50px;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
  color: #333333;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1;
}

.moreMainNameSingle {
  text-align: center;
  margin: 5px auto;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.1;
  color: #333333;
  width: 100%;
  .locationSingle {
    font-weight: 400;
    line-height: 1;
    color: #999;
    margin-left: 10px;
    font-size: 1rem;
  }
}
.infoPTagSingle {
  text-align: center;
  font-weight: 500;
  color: #333333;
  line-height: 1.1;
  font-size: 0.9rem;
  width: 100%;
  padding-bottom: 10px;
}
.loginInfoMoreSingle {
  color: $purple;
  &:hover {
    color: #9932cc;
    cursor: pointer;
  }
}
.sameLineSingle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.moreAllPackageInfoSingle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
}
.awardIconSingle {
  margin-right: 10px;
}
.packageInfoMoreSingle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.1;
  color: #999;
}
.packageNameMoreBoldSingle {
  font-weight: 500;
  color: #333333;
  line-height: 1.1;
  font-size: 0.9rem;
  margin-bottom: 20px;
  margin-right: 30px;
  .stargazersMore {
    margin-left: 30px;
  }
}
.packageNameMoreBoldSingleIf {
  margin-right: 10px;
  font-weight: 500;
  color: #333333;
  line-height: 1.1;
  font-size: 0.9rem;
  margin-bottom: 20px;
}
.packageLinkSingle {
  color: $purple;
  &:hover {
    color: #9932cc;
    cursor: pointer;
  }
}
.displayNoneSingle {
  display: none;
}
.followersSingle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #333333;
  line-height: 1.1;
  font-size: 0.9rem;
  width: 100%;
}
.boldMoreSingle {
  font-weight: 600;
  font-size: 1rem;
  margin-right: 5px;
}
.followerMarginSingle {
  margin-right: 35px !important;
}
.usersIconSingle {
  color: $purple;
  margin-right: 7px;
}
.buttonsSingleView {
  width: 1000px;
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.maximumValue {
  padding-top: 200px;
}
.templateButtonRed {
  outline: none;
  background-color: rgb(255, 38, 0);
  height: 40px;
  width: 150px;
  margin: 10px 30px 30px 0;
  border: none;
  border-bottom: 2px solid rgb(212, 32, 0);
  border-radius: 5px;
  color: white;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    background-color: rgb(212, 32, 0);
  }
}
.spacebetweenSingle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}
.templateButtonRed:after {
  content: "";
  display: block;
  position: absolute;
  top: -200%;
  right: -25%;
  width: 150%;
  height: 500%;
  background: rgb(212, 32, 0);
  border-radius: 100%;
  opacity: 0;
}
.templateButtonRed:after {
  visibility: hidden;
}

.templateButtonRed:focus:after {
  visibility: visible;
}
